export AWS_BUCKET=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=
export AWS_CONFIG_ENDPOINT=http://s3-us-west-2.amazonaws.com

# For qiniu
export QINIU_BUCKET="hello"
export QINIU_ACCESS_KEY_ID=
export QINIU_SECRET_KEY=
export QINIU_ZONE=0
export BUCKET_DOMAIN=http://oh54w6e4b.bkt.clouddn.com
